body {
    text-align: center;
    font-size: larger;
    background-image: url(images/neighborhood.jpg);
}

p {
    padding: 10px;
}

label {
    margin-bottom: 10px;
    text-decoration: double;
    font-size: larger;
}

input {
    width: 50px;
    text-align: center;
}

#greeting {
    border-style: groove;
    border-color: rgb(16, 63, 107);
    border-width: 10px;
    background: rgba(47, 119, 153, 0.9);
    margin: 0 auto;
    margin-bottom: 25px;
    width: 800px;
}

#returnAnswer {
    font-family: monospace;
    font-weight: bold;
    font-size: larger;
}